---
layout: default
---
{% capture hero_image %}
{{ site.baseurl }}{{ site.cover }}
{% endcapture %}
{% include hero.html image=hero_image title="logo" subtitle=site.description %}

<main id="content" role="main" class="content">
  <div class="cf frame">
    {% if site.episodes.size > 0 %}
        {% assign episode = site.episodes[0] %}
        {% include list_item.html data=episode type='episode' %}
    {% endif %}
    {% if site.fiches.size > 0 %}
        {% assign fiche = site.fiches[0] %}
        {% include list_item.html data=fiche type='fiche' %}
    {% endif %}
    {% if site.meetups.size > 0 %}
        {% assign meetup = site.meetups[0] %}
        {% include list_item.html data=meetup type='meetup' %}
    {% endif %}
  </div>

</main>

{% include footer.html %}
