---
layout: page
title: Les meetups de la Bulle
comments: false
permalink: /meetups
cover: assets/images/meetups.jpg
overlay: true
credits_username: danteov_seen
credits_name: Nikola Jovanovic
---

{% for meetup in site.meetups %}
    <article class="meetup" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <div class="article-item">
        <header class="meetup-header">
        <h2 class="meetup-title" itemprop="name"><a href="{{ site.baseurl }}{{ meetup.url | remove: '/'}}" itemprop="url">{{ meetup.title }}</a></h2>
        </header>
        <section class="meetup-excerpt" itemprop="description">
        <p class="meetup-description">{{ meetup.excerpt | strip_html | truncatewords: 50 }}</p>
        </section>
        <div class="meetup-meta">
        {% for author in site.data.authors %}
            {% if author[1].username == meetup.author %}
            {% if author[1].assets %}<amp-img width="24" height="24" class="author-thumb" layout="responsive" src="{{ site.baseurl }}{{author[1].assets}}" alt="{{author[1].name}}"/></amp-img>{% endif %}
            <a href="{{site.baseurl}}authors/#{{author[1].username}}">{{author[1].name}}</a>
            {% endif %}
        {% endfor %}

        {% if meetup.tags.size > 0 %}
            in
            {% for tag in meetup.tags %}
                {% if forloop.index == meetup.tags.size %}
                    <a href='{{site.baseurl}}tags/#{{tag}}'>{{ tag | capitalize }}</a>
                {% else %}
                    <a href='{{site.baseurl}}tags/#{{tag}}'>{{ tag | capitalize }}</a>,
                {% endif %}
            {% endfor %}
        {% endif %}
            <time class="meetup-date" datetime="{{ meetup.date | date:'%Y-%m-%d' }}">{{ meetup.date | date_to_string }}</time>
        </div>
    </div>
    </article>
{% endfor %}
