<figure class="ampstart-image-fullpage-hero hero">
    <amp-img width="1080" height="720" alt="{{ include.title }}" layout="responsive" src="{{ include.image }}" class="hero-image{% if include.withoverlay %} with-overlay{% endif %}"></amp-img>
    <figcaption>
        <header>
            {% if include.title != "logo" %}
            <h1 class="ampstart-fullpage-hero-heading">
                {{ include.title }}
            </h1>
            {% else %}
            <img src="/assets/images/logo.svg" class="logo" />
            {% endif %}
            {% if include.members %}
            {% for member in include.members %}
            <p class="author">
                <b><a href="#" role="author" class="author">{{ member }}</a></b>
            </p>
            {% endfor %}
            {% endif %}
            {% if include.subtitle %}
            <h2 class="subtitle">{{ include.subtitle }}</h2>
            {% endif %}
            {% if include.date %}
            <time class="article-date" datetime="">{{ include.date }}</time>
            {% endif %}
        </header>
        {% if include.readmore %}
        <footer>
            <a class="ampstart-readmore" id="readmore" href="#content" onclick="scrollToContent()">Lire la suite</a>
            <div class="credits-container">
                {% include credits.html %}
            </div>
        </footer>
        {% endif %}
    </figcaption>
</figure>
