<!-- Start Socialbox -->
<div class="article-share" align="center">
    <amp-social-share type="facebook" width="45" height="40" data-param-app_id="145393166088568"></amp-social-share>
    <amp-social-share type="twitter" width="45" height="40"></amp-social-share>
    <amp-social-share type="whatsapp" width="45" height="40"></amp-social-share>
    <amp-social-share type="gplus" width="45" height="40"></amp-social-share>
    <amp-social-share width="45" height="40" type="email"></amp-social-share>
</div>
<!-- End Socialbox -->
