@import "variables";
@import "reset";
@import "syntax-highlighting";
@import "hero";
@import "menu";
@import "posts";
@import "equipe";
@import "partenaires";
@import "footer";

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}
