.ampstart-footer {
    align-items: center;
    justify-content: center;
    padding: $base-padding;
    background-color: $black;
    color: $white;

    ul {
        flex-direction: row;

        svg {
            fill: $white;
        }
    }
}
