.ampstart-footer {
    align-items: center;
    justify-content: center;
    padding: $base-padding;
    background-color: $black;
    color: $white;

    .container {
        max-width: 960px;
        width: 100%;
        justify-content: center;
    }

    p {
        text-align: center;
    }

    .social-labels, .links-container {
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        align-self: stretch;

        li {
            display: flex;
        }
    }

    .links-container {
        margin-top: $base-padding;
    }

    ul {
        flex-direction: row;

        svg {
            fill: $white;
        }
    }

    .crypto-popup {
        .popup {
            position: absolute;
            border: solid 1px $black;
            color: $black;
            bottom: 150px;
            right: 100px;
            width: 400px;
            height: 400px;
            justify-content: space-evenly;
            align-items: center;
            background-color: $white;
            z-index: 2;
            padding: $base-padding;
        }

        .crypto-icon {
            margin-left: $base-padding / 3;
            cursor: pointer;
        }
    }
}
