
* {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
head,
title,
link,
meta,
style,
script {
    display: none;
}

html,
body,
figure,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

a, a:visited {
    color: $primary;
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 960px;
    min-height: 80vh;
    margin: auto;
    padding: 2 * $base-padding;
}

p, span, q, p > *, label, code, var, b {
    display: inline;
}

a {
    display: inline-block;
}

pre, code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    font-family: monospace,monospace;
    font-size: 1em;
    padding-left: $base-padding / 3;
    padding-right: $base-padding / 3;

    .highlight & {
        border-width: 0;
    }
}

.ampstart-input {
    flex-direction: row;
    padding: $base-padding 0;

    > input, > textarea {
        display: inline-flex;
        flex-direction: row;
        margin-right: $base-padding;
    }
}

ul {
    display: block;

    li {
        display: list-item;
    }
}

.ampstart-sidebar, footer, .desktop {
    ul {
        display: flex;

        li {
            display: inline-block;
        }
    }
}
